@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nav-and-footer-color: #FABF51;
    --btn-color: #4F4537;
    --window-color: #B6A999;
    --text-color: whitesmoke;
    --btn-hover-color: rgb(112, 100, 83);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--text-color);
}

nav {
    background-color: var(--nav-and-footer-color);
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.logo {
    width: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

input {
    height: 200px;
    margin-bottom: 10px;
}

.button-generate {
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border-style: none;
}


.see-meme-button {
    background-color: var(--btn-color);
    color: var(--text-color);
    display: flex;
    margin-left: 10px;
    margin-bottom: 3px;
    border-radius: 3px;
}

.memes {
    padding: 8px;
    border-radius: 3px;
    border-style: none;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

footer {
    background-color: var(--nav-and-footer-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 3px;
}

.memes-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    max-width: 100%;
}


.download-button {
    width: 35px;
    
}

.download-button-position {
    display: flex;
    align-self: flex-end;
    padding-right: 57px;
}

nav h1 {
    padding-top: 10px;
    padding-right: 3px;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
}

.social-media-logo {
    margin-top: 3px;
}