@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --nav-and-footer-color: #FABF51;
    --btn-color: #4F4537;
    --window-color: #B6A999;
    --text-color: whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family : "Montserrat", sans-serif;
    background-color: whitesmoke;
}

nav {
    background-color: var(--nav-and-footer-color);
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.logo {
    width: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.button-generate {
    background-color: var(--btn-color);
    color : whitesmoke;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.see-meme-button {
    background-color: var(--btn-color);
    color: var(--text-color);
    display: flex;
    margin-left: 10px;
}

.memes {
    background-color: #4F4537;
}

footer {
    background-color: var(--nav-and-footer-color);
}

.memes{
    width: 87%;
}
.download-button{
    width: 35px;
}
.test{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 27px;
    padding-top: 5px;
}